# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=changeme
MONGO_DB=mofin

# API
API_PORT=3000
JWT_SECRET=change-me-jwt-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
SALT=10

# Web
WEB_PORT=4000
VITE_API_URL=http://localhost:3000
