# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/local

# JWT
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
SALT=your_salt

# OpenAI API (for receipt extraction)
OPENAI_API_KEY=sk-your-openai-api-key-here

# Revolut Open Banking Configuration
REVOLUT_BASE_URL=https://sandbox-oba-auth.revolut.com
REVOLUT_TOKEN_PATH=/token
REVOLUT_TRANSPORT_PEM=./certs/transport.pem
REVOLUT_PRIVATE_KEY=./certs/private.key
REVOLUT_SIGNING_KEY=./certs/signing.key
REVOLUT_CLIENT_ID=your_client_id_here
REVOLUT_KID=your_key_id_here
